html {
  scroll-behavior: smooth;
}

*{
  font-family: sans-serif;
}

<<<<<<< HEAD
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


=======
>>>>>>> origin/master
#main-nav {
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #090909;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 100
}

#main-nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 10px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

#main-nav a:hover {
  color: #c1c1c1;
}

#main-nav.sticky {
  position: fixed;
  top: 0;
}

.home-container {
  background-image: url('./assets/zelda.jpg');
<<<<<<< HEAD
  background-size: 100%;
=======
  background-size: 100% 100%; /* Adjust background-size */
>>>>>>> origin/master
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0; 
  /* additional styles */
}

<<<<<<< HEAD
#histendo-logo{
  margin-bottom: 70vh;
=======
.home-container h1,
.home-container a {
  color: #fff;
  /* additional styles */
>>>>>>> origin/master
}

.games-container {
  background-image: url('./assets/games.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

<<<<<<< HEAD
.logos-container{
  height: 100vh;
=======
.history-grid{
  height: 100vh;
  padding: 0;
>>>>>>> origin/master
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#history-links {
  display: grid;
<<<<<<< HEAD
  margin-top: 5vh;
  grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
  grid-gap: 10vh; /* Adjust the gap between grid items */
=======
  grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
  grid-gap: 100px; /* Adjust the gap between grid items */
>>>>>>> origin/master
  justify-items: center;
  border: 5px solid black;
  border-radius: 25px;
  padding: 4vh;
}