html {
  scroll-behavior: smooth;
  scroll-snap-type:  y mandatory;
}

.carousel-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.carousel-image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 1s ease-in-out
}

.carousel-slide {
  height: 100vh;          /* 🔑 critical */
  position: relative;
  display: flex;
  flex-direction: column;
}

.description{
  position: absolute;
  bottom: 10vh;
}

.logo{
  position: absolute;
  top: 15vh;
  width: 25vh;
}

.logo{
  position: absolute;
  top: 10vh;
  left: 1vw;
}

.carousel-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
}

.carousel-button {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  user-select: none;
}

.carousel-button.left {
  top: 5vh;
  left: 2vh;
}

.carousel-button.right {
  right: 2vh;
  top: 95vh;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

