html {
  scroll-behavior: smooth;
  scroll-snap-type:  y mandatory;
}

.carousel-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.carousel-image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 2s ease-in-out
}

.carousel-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  flex-shrink: 0;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  user-select: none;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
