html {
  scroll-behavior: smooth;
  scroll-snap-type:  y mandatory;
}

*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#main-nav {
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #090909;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 100
}

#main-nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 10px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

#main-nav a:hover {
  color: #c1c1c1;
}

#main-nav.sticky {
  position: fixed;
  top: 0;
}

.fullscreen-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0; 
}

.screen {
  scroll-snap-align: start;
}

.home-1{
    background-image: url('./assets/zelda.jpg');
}

.home-2{
  background-image: url('./assets/home2.png')
}

.home-3{
  background-image: url('./assets/home3.jpg')
}
.home-4{
  background-image: url('./assets/home4.png')
}

.svg-draw-text {
  width: 100%;
  height: 100px;           
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.svg-draw-text text {
  font-size: clamp(2.5rem, 6vw, 5.5rem);
  font-weight: 900;
  /* fill: transparent; */
  stroke: #ffffff;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;

  stroke-dasharray: 1400;
  stroke-dashoffset: 1400;
}
.under-construction {
  background-image: url('./assets/archive/3d-nintendo-poster-cla53aqjoq9ozobp.webp');
  background-size: 100%;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0; 
}

#histendo-logo{
  position: absolute;
  top: 60px;          
  left: 50%;
  transform: translateX(-50%);
  width: 300px;      
  z-index: 10;
}

.games-container {
/*  background-image: url('./assets/games.jpg');*/
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.logos-container{
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#history-links {
  display: grid;
  margin-top: 5vh;
  grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
  grid-gap: 10vh; /* Adjust the gap between grid items */
  justify-items: center;

  padding: 4vh;
}