{% extends "historybase.html" %}

{% block main %}
    <body class="grid" id="history">
        <div id="history-links">
            <a href="{{ url_for('zelda_history') }}"><img src="{{ url_for('static', filename='images/original-logo.jpg') }}" alt="Legend of Zelda logo"
                width="150"></a></ul>
            <a href="{{ url_for('mario_history') }}"><img src="{{ url_for('static', filename='images/odyssey-logo.jpg') }}" alt="Super Mario logo" width="150"></a></ul>
            <a href="{{ url_for('metroid_history') }}"><img src="{{ url_for('static', filename='images/metroid1-logo.jpg') }}" alt="Super Mario logo" width="150"></a></ul>
            <a href="{{ url_for('ff_history') }}"><img src="{{ url_for('static', filename='images/ff1-logo.jpg') }}" alt="Final Fantasy logo" width="150"></a></ul>
            <a href="{{ url_for('pkmn_history') }}"><img src="{{ url_for('static', filename='images/pokemon-logo.png') }}" alt="Pokemon logo" width="150"></a></ul>
            <a href="{{ url_for('kirby_history') }}"><img src="{{ url_for('static', filename='images/kirby-logo.png') }}" alt="Kirby logo" width="150"></a></ul>
            <a href="{{ url_for('earthbound_history') }}"><img src="{{ url_for('static', filename='images/earthbound-logo.png') }}" alt="Earthbound logo" width="150"></a></ul>
            <a href="{{ url_for('fzero_history') }}"><img src="{{ url_for('static', filename='images/fzero-logo.png') }}" alt="F-Zero logo" width="150"></a></ul>
            <a href="{{ url_for('dkc_history') }}"><img src="{{ url_for('static', filename='images/dkc-logo.png') }}" alt="Donkey Kong Country logo" width="150"></a></ul>
            <a href="{{ url_for('starfox_history') }}"><img src="{{ url_for('static', filename='images/starfox-logo.png') }}" alt="Starfox logo" width="150"></a></ul>
            <a href="{{ url_for('warioland_history') }}"><img src="{{ url_for('static', filename='images/wario-logo.png') }}" alt="Wario logo" width="150"></a></ul>
            <a href="{{ url_for('megaman_history') }}"><img src="{{ url_for('static', filename='images/megaman-logo.png') }}" alt="Megaman logo" width="150"></a></ul>
            <a href="{{ url_for('megamanx_history') }}"><img src="{{ url_for('static', filename='images/megamanx-logo.png') }}" alt="Megaman X logo" width="150"></a></ul>
            <a href="{{ url_for('megamanx_history') }}"><img src="{{ url_for('static', filename='images/dq-logo.png') }}" alt="Dragon Quest logo" width="150"></a></ul>
            <a href="{{ url_for('megamanx_history') }}"><img src="{{ url_for('static', filename='images/smashbros-logo.png') }}" alt="Smash Bros logo" width="150"></a></ul>
            <a href="{{ url_for('megamanx_history') }}"><img src="{{ url_for('static', filename='images/castlevania-logo.png') }}" alt="Castlevania logo" width="150"></a></ul>
        </div>
        </div>

    </body>
{% endblock %}