{% extends "forumbase.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <section class="login-register">
    <form action="/login" method="post">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            <button class="" type="submit">Log In</button>
    </form>
    </section>
{% endblock %}
