{% extends "historybase.html" %}

{% block main %}

    <article class="games" id="metroid-timeline">
      <section class="logos">
      <a href="#metroid1"><img src="{{ url_for('static', filename='images/metroid1-logo.jpg') }}" alt="original logo"></img>
      <span class="year">1986</span></a>

      <a href="#metroid2"><img src="{{ url_for('static', filename='images/metroid2-logo.jpg') }}" alt="link to the past logo" width="85"></img>
      <span class="year">1991</span></a>

      <a href="#supermetroid"><img src="{{ url_for('static', filename='images/supermetroid-logo.jpg') }}" alt="ocarina of time logo" width="100"></img>
      <span class="year">1998</span></a>

      <a href="#metroidprime"><img src="{{ url_for('static', filename='images/metroidprime-logo.jpg') }}" alt="ocarina of time logo" width="100"></img>
        <span class="year">1998</span></a>
      </section>
    </article>


    <article>
      <section class="games" id="metroidprime">
      </section>

      <section class="games" id="supermetroid">
      </section>

      <section class="games" id="metroid2">
      </section>

      <section class="games" id="metroid1">
      </section>
    </article>


{% endblock %}